@model IEnumerable<MERMS.Models.PriceMonitoring>

@{
    ViewData["Title"] = "Price Monitoring Report of Wood Products";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                CENRO Concerned
            </th>
            <th>
                Date of Report Released from CENRO
            </th>
            <th>
                Date of Report Received to PENRO
            </th>
            <th>
                CENRO Report
            </th>

            <th>
                Date of Submission of Consolidated
                Report Released at PENRO

            </th>
            <th>
                Penro Report
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Month.HasValue)
                    {
                        @item.Month.Value.ToString("MMM yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CenroConcerned)
                </td>
                <td>
                    @if (item.ReleasedCenro.HasValue)
                    {
                        @item.ReleasedCenro.Value.ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedPenro)
                </td>
                <td>
                    @if (item.CenroReport != null)
                    {
                        <a asp-action="CenroReport" asp-route-id="@item.Id" target="_blank">View PDF</a>
                    }
                </td>

                <td>
                    @if (item.DateOfSubmission.HasValue)
                    {
                        @item.DateOfSubmission.Value.ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @if (item.PenroReport != null)
                    {
                        <a asp-action="PenroReport" asp-route-id="@item.Id" target="_blank">View PDF</a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    "copy", "excel", ,
                    {

                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }

                ]
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
    </script>
}
