@model IEnumerable<MERMS.Models.PriceMonitoring>

@{
    ViewData["Title"] = "CENRO Price Monitoring Report";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackingNo)
            </th>
            <th>
                CENRO Concerned
            </th>
            <th>
                Date of Report Released from CENRO
            </th>
            <th>
                Date of Report Received to PENRO
            </th>
            <th>
                CENRO Report
            </th>
            <th width="13%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingNo)
<td>
                    @Html.DisplayFor(modelItem => item.CenroConcerned)
                </td>
                <td>
                    @if (item.ReleasedCenro.HasValue)
                    {
                        @item.ReleasedCenro.Value.ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @if (item.ReceivedPenro.HasValue)
                    {
                        @item.ReceivedPenro.Value.ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @if (item.CenroReport != null)
                    {
                        <a asp-action="CenroReport" asp-route-id="@item.Id" target="_blank">View PDF</a>
                    }
                </td>

                
                <td>
                    <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.Id" title="Edit"><i class="fas fa-edit"></i></a> &nbsp;
                    <button class="btn btn-danger" onclick="Delete(@item.Id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                searching: true,
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    {
                        extend: 'excelHtml5',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        pageSize: 'LEGAL',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    }
                ],
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');
               
        })
        function Delete(id) {
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: "Delete/" + id,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        }
    </script>
}
