@model MERMS.Models.ApprehensionConfiscation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ApprehensionConfiscation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jurisdiction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jurisdiction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaceOfApprehension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaceOfApprehension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfConfiscation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfConfiscation)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Species)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Species)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoardFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoardFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CubicMeter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CubicMeter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiclePlateNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiclePlateNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParaphernaliaSerialNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParaphernaliaSerialNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Custodian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Custodian)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
