@model MERMS.Models.DonatedConfiscated

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonatedConfiscated</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDonation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDonation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoneeRecipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoneeRecipient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPieces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPieces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VolumeBoardFeet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VolumeBoardFeet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstimatedMarketValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstimatedMarketValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
