@model IEnumerable<MERMS.Models.DonatedConfiscated>

@{
    ViewData["Title"] = "Donated Confiscated Common Hardwood Lumber";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                Tracking No
            </th>
            <th>
                Date of Donation
            </th>
            <th>
                Donee/Recipient
            </th>
            <th>
                Number of Pieces
            </th>
            <th>
                Volume (Board Feet)
            </th>
            <th>
                Estimated Market Value
            </th>
            <th>
                Purpose
            </th>
            <th>
                Attached File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNo)
            </td>
            <td>
                @if (item.DateOfDonation.HasValue)
                {
                    @item.DateOfDonation.Value.ToString("MM/dd/yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoneeRecipient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfPieces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VolumeBoardFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedMarketValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purpose)
            </td>
            <td>
                @if (item.FilePath != null)
                {
                    <a asp-action="ViewFile" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }

            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> |
                <button class="btn btn-info" onclick="Delete(@item.Id)" title="Delete">Delete</button>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                responsive:true,
                lengthChange: false,
                buttons: [
                    {
                        extend: 'excelHtml5',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        pageSize: 'LEGAL',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    }
                ],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    
                    var estimatedvalue = api
                        .column(3, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var boardfeet = api
                        .column(4, { page: 'current' })
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var cubicfeet = api
                        .column(5, { page: 'current'})
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);



                    // Update footer by showing the total with the reference of the column index 
                    $(api.column(0).footer()).html('Total');


                    $(api.column(3).footer()).html(estimatedvalue);
                    $(api.column(4).footer()).html(boardfeet);
                    $(api.column(5).footer()).html(cubicfeet);
                }
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
        function Delete(id) {
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: "Delete/" + id,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        }
    </script>
}
