@model IEnumerable<MERMS.Models.DonatedConfiscated>

@{
    ViewData["Title"] = ">Donated Confiscated Common Hardwood Lumber";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                Tracking No
            </th>
            <th>
                Date of Donation
            </th>
            <th>
                Donee/Recipient
            </th>
            <th>
                Number of Pieces
            </th>
            <th>
                Volume (Board Feet)
            </th>
            <th>
                Estimated Market Value
            </th>
            <th>
                Purpose
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDonation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoneeRecipient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfPieces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VolumeBoardFeet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedMarketValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Purpose)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    "copy", "excel", ,
                    {

                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }

                ]
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
    </script>
}
