@model IEnumerable<MERMS.Models.Confiscation>

@{
    ViewData["Title"] = "Environmental Case Filed in Court";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                Tracking No
            </th>
            <th>
                Date Filed
            </th>
            <th>
                Docket/Case Number
            </th>
            <th>
                Case Title/Respondent
            </th>
            <th>
               Nature of Violation
            </th>
            <th>
                Court where Case Filed
            </th>
            <th>
                Plate Number of Vehicle
            </th>
            <th>
                Kind/Species of Forest Products
            </th>
            <th>
                Estimated Value
            </th>
            <th>
                Forest Product Stockpiled
            </th>
            <th>
                Board Feet
            </th>
            <th>
                Cubic Meter
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remarks)
            </th>
            <th>
                Attached File
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackingNo)
                </td>
                <td>
                    @if (item.DateFiled.HasValue)
                    {
                        @item.DateFiled.Value.ToString("MM/dd/yyyy")
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocketCaseNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseTitleRespondent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NatureOfViolation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourtFiled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehiclePlateNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KindSpecies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstimatedValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ForestProductStockPiled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoardFeet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CubicMeter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @if (item.FilePath != null)
                    {
                        <a asp-action="ViewFile" asp-route-id="@item.Id" target="_blank">View PDF</a>
                    }

                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> |
                    <button class="btn btn-info" onclick="Delete(@item.Id)" title="Delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>


@section Scripts
{

    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                //responsive: true,
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    "copy", "excel", ,
                    {

                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }

                ],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // computing column Total of the complete result 
                    var estimatedvalue = api
                        .column(8)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var boardfeet = api
                        .column(10)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var cubicfeet = api
                        .column(11)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);



                    // Update footer by showing the total with the reference of the column index 
                    $(api.column(0).footer()).html('Total');


                    $(api.column(8).footer()).html(estimatedvalue);
                    $(api.column(10).footer()).html(boardfeet);
                    $(api.column(11).footer()).html(cubicfeet);
                }
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
        function Delete(id) {
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: "Delete/" + id,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        }
    </script>

}
