@model MERMS.Models.MultiForestProtection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MultiForestProtection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueOfMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueOfMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfAttendees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfAttendees)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LetterOfInvitation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LetterOfInvitation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendanceSheet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendanceSheet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinutesOfMeeting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinutesOfMeeting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoDocumentation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoDocumentation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
