@model IEnumerable<MERMS.Models.MultiForestProtection>

@{
    ViewData["Title"] = "Multi-Forest Protection Comimittee Meetings";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                Tracking No
            </th><th>
                Date of Meeting
            </th>
            <th>
                Venue of Meeting
            </th>
            <th>
                Number of Attendees
            </th>
            <th>
                Letter of Invitation
            </th>
            <th>
                Attendance Sheet
            </th>
            <th>
                Minutes of Meeting
            </th>
            <th>
                Photo Documentation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAttendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LetterOfInvitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttendanceSheet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinutesOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoDocumentation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    "copy", "excel", ,
                    {

                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }

                ]
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
    </script>
}
