@model IEnumerable<MERMS.Models.MultiForestProtection>

@{
    ViewData["Title"] = "Multi-Forest Protection Comimittee Meetings";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                Tracking No
            </th><th>
                Date of Meeting
            </th>
            <th>
                Venue of Meeting
            </th>
            <th>
                Number of Attendees
            </th>
            <th>
                Letter of Invitation
            </th>
            <th>
                Attendance Sheet
            </th>
            <th>
                Minutes of Meeting
            </th>
            <th>
                Photo Documentation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNo)
            </td>
            <td>
                @if (item.DateOfMeeting.HasValue)
                {
                    @item.DateOfMeeting.Value.ToString("MM/dd/yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAttendees)
            </td>
            <td>
                @if (item.LetterOfInvitation != null)
                {
                    <a asp-action="LetterOfInvitation" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                @if (item.AttendanceSheet != null)
                {
                    <a asp-action="AttendanceSheet" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                @if (item.MinutesOfMeeting != null)
                {
                    <a asp-action="MinutesOfMeeting" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                @if (item.PhotoDocumentation != null)
                {
                    <a asp-action="PhotoDocumentation" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-info" asp-route-id="@item.Id">Edit</a> |
                <button class="btn btn-info" onclick="Delete(@item.Id)" title="Delete">Delete</button>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Total</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                lengthChange: false,
                autoWidth: false,
                buttons: [
                    "copy", "excel", ,
                    {

                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL'
                    }

                ],
                
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // computing column Total of the complete result 
                    var estimatedvalue = api
                        .column(3)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    
                    $(api.column(0).footer()).html('Total');


                    $(api.column(3).footer()).html(estimatedvalue);
                   
                }
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
        function Delete(id) {
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: "Delete/" + id,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        }
    </script>
}
