@model IEnumerable<MERMS.Models.MultiForestProtection>

@{
    ViewData["Title"] = "Multi-sectoral Forest Protection Committee Meeting";
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-bordered table-responsive table-hover" id="example">
    <thead>
        <tr>
            <th>
                Tracking No
            </th><th>
                Date of Meeting
            </th>
            <th>
                Venue of Meeting
            </th>
            <th>
                Number of Attendees
            </th>
            <th>
                Letter of Invitation
            </th>
            <th>
                Attendance Sheet
            </th>
            <th>
                Minutes of Meeting
            </th>
            <th>
                Photo Documentation
            </th>
            <th width="13%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackingNo)
            </td>
            <td>
                @if (item.DateOfMeeting.HasValue)
                {
                    @item.DateOfMeeting.Value.ToString("MM/dd/yyyy")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenueOfMeeting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAttendees)
            </td>
            <td>
                @if (item.LetterOfInvitation != null)
                {
                    <a asp-action="LetterOfInvitation" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                @if (item.AttendanceSheet != null)
                {
                    <a asp-action="AttendanceSheet" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                @if (item.MinutesOfMeeting != null)
                {
                    <a asp-action="MinutesOfMeeting" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                @if (item.PhotoDocumentation != null)
                {
                    <a asp-action="PhotoDocumentation" asp-route-id="@item.Id" target="_blank">View PDF</a>
                }
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-light" asp-route-id="@item.Id" title="Edit"><i class="fas fa-edit"></i></a> &nbsp;
                <button class="btn btn-danger" onclick="Delete(@item.Id)" title="Delete"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
        }
    </tbody>
    
</table>


@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#example").DataTable({
                lengthChange: false,
                autoWidth: false,
                searching:true,
                buttons: [
                    {
                        extend: 'excelHtml5',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6,7,8]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        orientation: 'landscape',
                        pageSize: 'LEGAL',
                        footer: true,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6,7,8]
                        }
                    }
                ],
                
            }).buttons().container().appendTo('#example_wrapper .col-md-6:eq(0)');


        })
        function Delete(id) {
            var result = confirm("Are you sure you want to delete?");
            if (result) {
                $.ajax({
                    type: 'POST',
                    url: "Delete/" + id,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        location.reload();
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            }
        }
    </script>
}
