@{ int yr = 2015;

}
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Jurisdiction</label>
                    <select id="Jurisdiction1" class="form-control">
                        <option value="">Choose</option>
                        <option value="Diffun">Diffun</option>
                        <option value="Nagtipunan">Nagtipunan</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">For Calendar Year</label>
                    <select id="Year1" class="form-control">
                        <option value="">Choose</option>

                        @for (int i = 0; i < 20; i++)
                        {
                            var a = yr + i;
                            <option value="@a">@a</option>
                        }

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="preview1">Preview</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Jurisdiction</label>
                    <select id="Jurisdiction2" class="form-control">
                        <option value="">Choose</option>
                        <option value="Diffun">Diffun</option>
                        <option value="Nagtipunan">Nagtipunan</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">For Calendar Year</label>
                    <select id="Year2" class="form-control">
                        <option value="">Choose</option>

                        @for (int i = 0; i < 20; i++)
                        {
                            var a = yr + i;
                            <option value="@a">@a</option>
                        }

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="preview2">Preview</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label">For Calendar Year</label>
                    <select id="Year3" class="form-control">
                        <option value="">Choose</option>

                        @for (int i = 0; i < 20; i++)
                        {
                            var a = yr + i;
                            <option value="@a">@a</option>
                        }

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="preview3">Preview</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label">For Calendar Year</label>
                    <select id="Year4" class="form-control">
                        <option value="">Choose</option>

                        @for (int i = 0; i < 20; i++)
                        {
                            var a = yr + i;
                            <option value="@a">@a</option>
                        }

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="preview4">Preview</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label">For Calendar Year</label>
                    <select id="Year5" class="form-control">
                        <option value="">Choose</option>

                        @for (int i = 0; i < 20; i++)
                        {
                            var a = yr + i;
                            <option value="@a">@a</option>
                        }

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="preview5">Preview</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label">For Calendar Year</label>
                    <select id="Year6" class="form-control">
                        <option value="">Choose</option>

                        @for (int i = 0; i < 20; i++)
                        {
                            var a = yr + i;
                            <option value="@a">@a</option>
                        }

                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="preview6">Preview</button>
            </div>
        </div>
    </div>
</div>
